In [2]:
import numpy as np
import pandas as pd

Pandas Series
A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

Series from lists

In [4]:
# string
country = ['India','Spain','Brazil','Japan']

pd.Series(country)

0     India
1     Spain
2    Brazil
3     Japan
dtype: object

In [22]:
# integers

runs = [31,24,56,78,100]

runs_series = pd.Series(runs)
runs_series

0     31
1     24
2     56
3     78
4    100
dtype: int64

In [7]:
# custom index

marks = [67,57,89,100]
subjects = ['Maths','english' , 'french','business']
pd.Series(marks,index=subjects)

Maths        67
english      57
french       89
business    100
dtype: int64

In [9]:
# setting a name

jay_marks = pd.Series(marks,index=subjects,name='jay marks')
print(jay_marks)

Maths        67
english      57
french       89
business    100
Name: jay marks, dtype: int64

Series from dict

In [11]:
marks = {
    'Maths'    :    67,
    'english'   :   57,
    'french'    :   89,
    'business'  :  100
}
marks_series = pd.Series(marks,name='jay marks 2025')
marks_series

Maths        67
english      57
french       89
business    100
Name: jay marks 2025, dtype: int64

Series Attributes

In [13]:
# size
marks_series.size

4

In [14]:
# dtype

marks_series.dtype

dtype('int64')

In [15]:
# name
marks_series.name

'jay marks 2025'

In [17]:
# is_unique
marks_series.is_unique

pd.Series([1,1,2,3,7,5]).is_unique

False

In [24]:
# index
marks_series.index

runs_series.index
type(runs_series.index)

pandas.core.indexes.range.RangeIndex

In [26]:
# values
marks_series.values

type(marks_series.values)

numpy.ndarray

Series using read_csv

In [34]:
# with one col

type(pd.read_csv('subs.csv'))
subs_df = pd.read_csv('subs.csv')       # squeeze for converting it into a pd series
series_subs = subs_df.squeeze()
type(series_subs)

pandas.core.series.Series

In [42]:
# with 2 cols

kohli_runs = pd.read_csv('kohli_ipl.csv',index_col='match_no').squeeze()
kohli_runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [37]:
# bollywood movies and actors

movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

Series Methods

In [38]:
# head and tail

series_subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [43]:
kohli_runs.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [44]:
series_subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [47]:
# sample
movies.sample(3)

movie
Neerja             Sonam Kapoor
Mad About Dance     Saahil Prem
Guddu Ki Gun        Kunal Khemu
Name: lead, dtype: object

In [48]:
# value_counts

movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [49]:
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [54]:
# sort_values

kohli_runs.sort_values()
# descending 
kohli_runs.sort_values(ascending=False).head(6).values[0]

113

these methods dont change the original series but if you want you can make changes to the original series using keyword arg of inplace=True

In [55]:
kohli_runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [57]:
vk = kohli_runs.copy()
vk.sort_values(inplace=True)

In [58]:
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [59]:
# sort_index

movies.sort_index()
# movies.sort_index(inplace=True)

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

Series Math Methods

In [ ]:
# count