In [2]:
import pandas as pd
import numpy as np

Series Math Methods

In [5]:
# count - doesnt count missing values 
# meanwhile size counts even them
vk = pd.read_csv("kohli_ipl.csv").squeeze()
vk.count()

match_no    215
runs        215
dtype: int64

In [7]:
# sum -> product
subs = pd.read_csv("subs.csv").squeeze()
subs.sum()

np.int64(49510)

In [8]:
subs.product()

np.int64(0)

In [9]:
# mean -> median -> mode -> std deviation -> var
subs.mean()

np.float64(135.64383561643837)

In [10]:
vk.median()

match_no    108.0
runs         24.0
dtype: float64

In [11]:
movies = pd.read_csv("bollywood.csv").squeeze()
movies.mode()

                     movie          lead
0                   Andaaz  Akshay Kumar
1           Gabbar Is Back           NaN
2  Tanu Weds Manu: Returns           NaN

In [13]:
subs.std()

np.float64(62.6750230372527)

In [14]:
vk.var()

match_no    3870.000000
runs         688.002478
dtype: float64

In [15]:
# min / max
subs.min()

np.int64(33)

In [16]:
subs.max()

np.int64(396)

In [17]:
# describe - provides a summary
vk.describe()

         match_no        runs
count  215.000000  215.000000
mean   108.000000   30.855814
std     62.209324   26.229801
min      1.000000    0.000000
25%     54.500000    9.000000
50%    108.000000   24.000000
75%    161.500000   48.000000
max    215.000000  113.000000