In [1]:
import pandas as pd
import numpy as np

some important series methods

In [4]:
subs = pd.read_csv('../subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [5]:
vk = pd.read_csv('../kohli_ipl.csv',index_col='match_no').squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [6]:
movies = pd.read_csv('../bollywood.csv',index_col='movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [9]:
# astype
import sys
sys.getsizeof(vk)
vk.astype('int16')

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [11]:
sys.getsizeof(vk.astype('int16'))

2182

In [15]:
# between
vk[vk.between(51,99)].shape

(43,)

In [16]:
# clip
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [18]:
# drop_duplicates
temp = pd.Series([1,1,2,3,4,4,5,5])
temp.drop_duplicates()
temp.drop_duplicates(keep='last')

1    1
2    2
3    3
5    4
7    5
dtype: int64

In [19]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [21]:
temp.duplicated().sum()

np.int64(3)

In [23]:
vk.duplicated().sum()

np.int64(137)

In [27]:
# isnull
temp = pd.Series([1,1,2,np.nan,3,4,np.nan,4,5,5])
temp.size

10

In [29]:
temp.count()
# count doesnt count missing values but size does

np.int64(8)

In [31]:
vk.isnull().sum()

np.int64(0)

In [32]:
temp.isnull().sum()

np.int64(2)

In [34]:
# dropna - drops missing values
temp.dropna()

0    1.0
1    1.0
2    2.0
4    3.0
5    4.0
7    4.0
8    5.0
9    5.0
dtype: float64

In [36]:
#fillna
temp.fillna(0)
temp.fillna(temp.mean())

0    1.000
1    1.000
2    2.000
3    3.125
4    3.000
5    4.000
6    3.125
7    4.000
8    5.000
9    5.000
dtype: float64

In [41]:
# isin
vk[(vk == 49) | (vk == 99)]
# simple way is -> isin
vk[vk.isin([49,99,69])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [46]:
# apply
# helps to apply custom logic in series

movies.apply(
    lambda x : x.split()[0].upper()
)

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [48]:
subs.apply(
    lambda x : 'good day' if x > subs.mean() else 'bad day' 
).sample(5)

352    good day
214     bad day
1       bad day
148     bad day
288    good day
Name: Subscribers gained, dtype: object

In [70]:
# copy
new = vk.head()
new[1] = 100
# new[1] = 1 alters original data

In [71]:
new # vk is also changed as we got original data view of the series

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [72]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [73]:
# so we use copy to avoid messing with original data
new = vk.head().copy()
new[1] = 1

In [74]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [75]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64