<a href="https://colab.research.google.com/github/JayTheCoder77/DataAnalysisLibraries/blob/main/pandas/Session21/21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

Series is 1d and data frame 2d

In [6]:
 # multiple indexes series possible?
 index_val = [('cse',2019),('cse',2020),('cse',2021) , ('cse',2022) , ('ece',2019) , ('ece',2020) , ('ece',2021) , ('ece',2022)]
 a = pd.Series([1,2,3,4,5,6,7,8] , index=index_val)
 a[('cse',2022)]

(cse, 2022)    4
(cse, 2022)    8
dtype: int64

In [8]:
# the problem with multiindex series
# a['cse'] error

In [9]:
# solution -> multiindex series also hierarchial indexing
# multiple index levels within a single index

In [14]:
# creating multindex object
# from tuples
index_val = [('cse',2019),('cse',2020),('cse',2021) , ('cse',2022) , ('ece',2019) , ('ece',2020) , ('ece',2021) , ('ece',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex # this is a multiindex object
multiindex.levels[1]
multiindex.levels[0]
multiindex.levels

FrozenList([['cse', 'ece'], [2019, 2020, 2021, 2022]])

In [16]:
# from product
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [18]:
# level inside multiindex object

In [23]:
# series with multiindex object
s = pd.Series([1,2,3,4,5,6,7,8],index=multiindex)

2019    1
2020    2
2021    3
2022    4
dtype: int64

In [24]:
# how to fetch items from such series
s[('cse',2022)]
s['cse']

2019    1
2020    2
2021    3
2022    4
dtype: int64

In [24]:
# logical question to  ask